body {
	background-image:url(../images/banner/maxresdefault.jpg);
	background-size: 100%;
	background-repeat:repeat-y;
	
	}
#logo{
	width:5%;
	height:5%;
	display: flex;
	direction: ltr;
	border: 50px;
	border-radius: 50px;
	background-color:black;
}
h1{
    margin-right: auto;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    text-decoration: none;
	text-align:center;
	
	}

	#header{
		padding:50px 20px 60px 50px;
		display: flex;
    direction: ltr;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 200px;
    padding-right: 400px;
    padding-top: 50px;
    margin-top: -5px;
    z-index: 600;
    position: relative;
    text-decoration: none;
		}
	#main-menu {
    display: inline-block;
    vertical-align:top ;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    margin-top:-5px;
    position: relative;
    text-decoration: none;
    
}
#pokemon{
	display:inline-block;
	vertical-align:top;
	width:100%;
	margin:10px;
	border:solid black;
	padding:5px
}
.fixed{
	padding:5px;
	position:fixed;
	bottom:0px;
	right:0px;
	border:solid black;
}
li{
	width:100%;
}